// ------------------------------------------
// VARIABLES
// ------------------------------------------

$font-primary: 'Roboto', Arial, sans-serif;
$font-secondary: 'Roboto Slab', serif;
$font-size-body: 16px;
$font-size-base: 1rem;

$text-xs: 0.75rem;
.text-xs {
  font-size: $text-xs;
}

$text-sm: 0.875rem;
.text-sm {
  font-size: $text-sm;
}

$text-base: 1rem;
.text-base {
  font-size: $text-base;
}

$text-lg: 1.125rem;
.text-lg {
  font-size: $text-lg;
}

$text-xl: 1.25rem;
.text-xl {
  font-size: $text-xl;
}

$text-2xl: 1.5rem;
.text-2xl {
  font-size: $text-2xl;
}

$text-3xl: 1.875rem;
.text-3xl {
  font-size: $text-3xl;
}

$text-4xl: 2.5rem;
.text-4xl {
  font-size: $text-4xl;
}

$text-5xl: 3rem;
.text-5xl {
  font-size: $text-5xl;
}

$text-6xl: 4.5rem;
.text-6xl {
  font-size: $text-6xl;
}

// Color palette
// -----------------------------------------

// Colors

$primary: #03155b;
$secondary: #577aab;
$base: #fff;
$error: #eb5757;
$success: #56c568;

$grey-100: #c4c4c4;
$grey-200: #959595;
$grey-300: #666;
$grey-400: #333;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --base: #{$base};
  --error: #{$error};
  --success: #{$success};
  --grey-100: #{$grey-100};
  --grey-200: #{$grey-200};
  --grey-300: #{$grey-300};
  --grey-400: #{$grey-400};
  --swiper-theme-color: #{$primary};
  --app-height: 100%;
}

// Scaffolding
// ------------------------------------------
$padding: 70px;
$padding-s: 20px;

$header-height: 80px;

// Transitions
// ------------------------------------------
$transition-color: color 0.15s ease-in-out;
