/* You can add global styles to this file, and also import other style files */
// FONTS                        //
// ---------------------------- //
@font-face {
  font-family: 'AcnhTitle'; 
  font-display: swap;
  src: url(~@/assets/font/FinkHeavy.ttf);
  src: url(~@/assets/font/FinkHeavy.woff2);
  src: url(~@/assets/font/FinkHeavy.woff);
}
@font-face {
  font-family: 'AcnhDialog';
  src: url(~@/assets/font/ArialRoundedBold.ttf);
}

// CORE                         //
// ---------------------------- //
@import 'mixins/mixins';
@import 'global/variables';
@import 'global/reset';

